name: CI

on: push

env:
  SRB_SKIP_GEM_RBIS: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ 2.6, 2.7, 3.0 ]
        bundler: [ 2.2.22, 2.2.25 ]
    name: Test Ruby ${{ matrix.ruby }}, Bundler ${{ matrix.bundler }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: ${{ matrix.bundler }}
          bundler-cache: true
      - name: Run type check
        run: bin/typecheck
      - name: Lint Ruby files
        run: bin/style --config .rubocop.yml
      - name: Verify documentation
        run: bin/docs
      - name: Run tests
        run: bundle _${{ matrix.bundler }}_ exec rake
