name: CI

on: [push, pull_request]

env:
  SRB_SKIP_GEM_RBIS: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ "2.6", "2.7", "3.0", "3.1" ]
    name: Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run type check
        run: bin/typecheck
      - name: Lint Ruby files
        run: bin/style
      - name: Verify documentation
        run: bin/docs
      - name: Verify README
        run: bin/readme
      - name: Run tests
        run: bin/test
      - name: Verify gem RBIs are up-to-date
        run: bundle exec exe/tapioca gem --verify
