name: CI

on: [push, pull_request]

env:
  SRB_SKIP_GEM_RBIS: true

jobs:
  linters:
    runs-on: ubuntu-latest
    name: Linters
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true
          rubygems: 'latest'
      - name: Run type check
        run: bin/typecheck
      - name: Lint Ruby files
        run: bin/style
      - name: Verify documentation
        run: bin/docs
      - name: Verify README
        run: bin/readme
      - name: Verify gem RBIs are up-to-date
        run: bundle exec exe/tapioca gem --verify
      - name: Verify duplicates in shims
        run: bundle exec exe/tapioca check-shims

  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.0", "3.1", "3.2", "3.3", "head"]
        gemfile:
          - Gemfile
          - gemfiles/Gemfile-rails-6-1
          - gemfiles/Gemfile-rails-main
        include:
          - gemfile: gemfiles/Gemfile-rails-main
            experimental: true
          - ruby: "head"
            experimental: true
        exclude:
          - ruby: "3.0"
            gemfile: gemfiles/Gemfile-rails-main
    name: Ruby ${{ matrix.ruby }} - ${{ matrix.gemfile }}
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v4
      - if: ${{ matrix.ruby == 'head' }}
        run: "rm -f ${{ matrix.gemfile }}.lock"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          rubygems: 'latest'
      - name: Install latest Bundler version
        run: gem install bundler
      - name: Run tests
        run: bin/test
        continue-on-error: ${{ !!matrix.experimental }}

  buildall:
    if: ${{ always() && github.event.pull_request }}
    runs-on: ubuntu-latest
    name: Build (matrix)
    needs: [linters, tests]
    steps:
      - name: Check build matrix status
        if: ${{ needs.tests.result != 'success' || needs.linters.result != 'success' }}
        run: exit 1
