name: Pull Request Labels

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  check-labels:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Check for Pull Request Labels
        shell: bash
        run: |
          bin/check_pr_labels "$(gh pr view --json labels ${{ github.event.pull_request.number }})"
