name: Pull Request Labels

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  check-labels:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Check for Pull Request Labels
        shell: bash
        run: |
          bin/check_pr_labels "$(gh pr view --json labels ${{ github.event.pull_request.number }})"
